.principal{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.bemVindo{
    background: #18aeb9;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
blockquote{
    font-size: 20px;
}
.sobre{
    background: #18aeb9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}
.logo{
    width: 400px;
    height: 400px;
    border-radius: 15%;
}
footer{
    background: #18aeb9;
    height: 100px;
}